<h1>Editer le Moussaillon</h1>

<%= form_for @moussaillon do |f| %>
  <div class="form_group">
    <label>Pseudo du Moussaillon:</label>
    <%= f.text_field :pseudo, class: 'form-control' %>
  </br>
    <label>Email du Moussaillon:</label>
    <%= f.text_field :email, class: 'form-control' %>
  </br>
    <label>Biographie</label>
    <%= f.text_area :biographie, class: 'form-control' %>
  </div>
    </br>
  <div class="form-group">
    <button type="submit", class="btn btn-primary">Modifier</button>
  </div>
  <p>
    <a href="<%= moussaillon_path %>" class="btn btn-danger btn-sm"
    data-confirm="Es-tu sur ?" data-method="DELETE">Supprimer</a>
  </p>
<% end %>
